<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevBurger</title>
  </head>
  <body>
    <div>
      <h1>Boas vindas ao DevBurger</h1>
    </div>
    <div id="menu">
      <h2>Menu:</h2>
    </div>

    <div id="suggestion-form">
      <form action="/sugestao" method="get">
        <div>
          <label for="name">Nome:</label>
          <input type="text" name="name" id="name" required />
        </div>
        <div>
          <label for="ingredients">Ingredientes:</label>
          <input type="text" name="ingredients" id="ingredients" required />
        </div>
        <div>
          <button type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </body>
</html>
